@import url("https://fonts.googleapis.com/css?family=Princess+Sofia|Roboto+Mono|Work+Sans");

.title {
  font-size: 100px;
  font-family: 'Princess Sofia', cursive;
  color: #795c5f;
  padding-bottom: 0;
  margin-bottom: 15px;
}

.logo {
  margin-left: 15px;
  font-family: 'Princess Sofia', cursive;
  float: left;
  color: #d1a7a0;
}

.tutorialLink {
  padding: 15px;
  background-color: #795c5f;
  color: white;
  font-size: 20px;
  font-family: 'Roboto Mono', monospace;
  border: none;
  box-shadow: 0px 2px 3px 0px #6d6a6a61;
  border-radius: 10px;
  text-decoration: none;
}

.navbarLinks {
  float: right;
  font-family: 'Work Sans', sans-serif;
  padding-top: 10px;
  color: #d1a7a0;
}

.navContainer {
  box-shadow: 0px 2px 3px 0px #6d6a6a61;
  list-style-type: none;
  padding: 0;
  overflow: hidden;
  background-color: #795c5f;
  position: fixed;
  top: 0;
  width: 100%;
  font-family: 'Work Sans', sans-serif;
  margin: 0;
}

.subtitle {
  width: 40vw;
  padding-bottom: 15px;
}

.section1 {
  padding: 50px;
  background-color: #d1a7a0;
  color: 'white';
  text-align: center;
  height: 85vh;
  font-family: 'Work Sans', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.section2 {
  padding-top: 50px;
  height: 500px;
  background-color: #efa973;
  color: 'white';
  display: grid;
  grid: 100% / auto auto auto;
  font-family: 'Work Sans', sans-serif;
}

.section2 .inner {
  text-align: center;
  padding: 20px 30px 0 30px;
}

.section2 p {
  text-align: justify;
  font-size: 20px;
}

.footer {
  background-color: #795c5f;
  color: 'white';
  padding-left: 20px;
  display: grid;
  grid: 100% / auto auto;
}

.footer li {
  margin-top: 10px;
}

.list {
  display: inline;
  float: center;
  font-size: 20px;
}

.list:not(:last-child) {
  border-right: 2px solid #d1a7a0;
}

.list a {
  display: inline-block;
  color: #d1a7a0;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.list a:hover {
  color: #795c5f;
}

.logo {
  max-width: 240px;
  max-height: 240px;
}

.icontext {
  margin-left: 10px;
}

.listBackground {
  font-size: 20px;
  width: 200px;
  border-bottom: 1px solid white;
  padding: 1px 0px 0px 5px;
  margin: 2px;
}

.conductContainer {
  background-color: #af9c48;
  box-shadow: -1px 7px 15px 4px grey;
  height: 1000px;
  margin: 50px;
  margin-top: 100px;
}

.conductContainer h1 {
  text-align: center;
  padding-top: 40px;
}
